/* Importaciones de normalize y reset (asegúrate de que las URL sean correctas) */
@import url(normalize.min.css);
@import url(reset.css);

/* ESTILOS GENERALES */

/* Tipografía */
@font-face {
  font-family: "Inter";
  src: url("") format("woff2"), url("") format("woff");
}

/* Colores */
:root {
  --primary-color: #91A4CD;
  --secondary-color: #F27E31;
  --accent-color: #F26101;
  --background-color: #304269;
  --text-color: #FFF;
}

/* ROOT */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  justify-content: space-between;

}

/* CABECERA */
header {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

.btn-login {
  display: flex;
  max-width: 350px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sign-up,
.log-in {
  margin-right: 20px;
  flex: 1;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;

}

.log-in {
  border-radius: 10px;
  background: var(--secondary-color);
}

.welcome-link {
  text-decoration: none;
  /* Elimina el subrayado del enlace */
}

.welcome-message {
  color: var(--accent-color);
  /* Color del texto */
  font-family: "Inter", sans-serif;
  /* Fuente del texto */
  font-size: 1.2rem;
  /* Tamaño del texto */
  font-weight: 600;
  /* Grosor de la fuente */
}

/* Estilos para el botón de cerrar sesión */
.logout-btn {
  background-color: var(--secondary-color);
  /* Color de fondo */
  color: #fff;
  /* Color del texto */
  font-family: "Inter", sans-serif;
  /* Fuente del texto */
  font-size: 1rem;
  /* Tamaño del texto */
  padding: 5px 10px;
  /* Espaciado interno */
  /* Borde */
  border-radius: 5px;
  /* Radio del borde */
  text-decoration: none;
  /* Elimina el subrayado */
  transition: background-color 0.3s, color 0.3s;
  /* Transición suave */
  margin-left: 10px;
  /* Espacio entre el mensaje de bienvenida y el botón de cerrar sesión */

}

.logout-btn:hover {
  background-color: var(--primary-color);
  /* Cambio de color de fondo al pasar el ratón */
  color: #fff;
  /* Cambio de color del texto al pasar el ratón */
}


/* Estilos adicionales según tu preferencia */


main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;

}

.snap-center {

  scroll-snap-align: center;

}

/* CONTENIDO PRINCIPAL */

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.title-web {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 40px;
  padding: 2rem;
  text-align: center;
}

.big-title,
.small-title {
  color: var(--text-color);
  text-align: center;
  font-family: "Inter";
}

.big-title {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-wrap: balance;
}

.big-title span,
.small-title span {
  color: var(--accent-color);
}

.small-title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.password-generator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  height: 150px;
}

/* Estilo para el input de tipo number */
.numbers {
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid var(--background-color);
  background: var(--primary-color);
}

.pass-generate {
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 60px;
  border-right: 1px solid var(--background-color);
  background: var(--primary-color);
}

.copy-button {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 15rem;
  align-items: center;
  background: var(--primary-color);
  box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/* Estilo para el ícono de recarga */
.refresh-icon {
  display: flex;
  align-items: center;
  margin-left: 8px;

  cursor: pointer;
}

/* Estilo para el tamaño y color del ícono de recarga */
.refresh-icon img {
  height: 20px;
  /* Ajusta según sea necesario */
  width: 20px;
  /* Ajusta según sea necesario */
  margin-right: 4px;
  /* Ajusta según sea necesario */
  fill: var(--text-color);
  /* Utiliza el color del texto del botón "Copiar" */
}


.validate-characters {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.text-characters {
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Estilo para el input checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-right: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  background: var(--primary-color);
  box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.25);
  position: relative;
}

/* Estilo para el pseudo-elemento :checked (checkbox seleccionado) */
input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 24px;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.content-web {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  flex-shrink: 0;
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.arrow-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-bottom {
  display: flex;
  padding-left: 26px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-bottom img {
  height: 30px;
}

.second-page {
  display: flex;
  gap: 3.125rem;
  padding: 2rem;
}

.title-about {
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-about {
  color: var(--text-color);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-wrap: pretty;
  width: 60%;
}

/* Tarjetas (comentarios) */

.targets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.title-targets {

  width: 50%;
  margin: 20px 0px 100px 0px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-wrap: balance;

}

.target-left,
.target-mid,
.target-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  width: 32%;
  /* Ajusta el ancho de cada tarjeta según tus necesidades */
  box-sizing: border-box;
  padding: 50px;
  /* Ajusta el espacio interno según tus necesidades */

  /* Style */

  text-align: center;
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Puedes agregar estilos específicos para cada tarjeta si lo deseas */
.target-left {
  border-radius: 30px;
  background: #2D3953;
}

.target-mid {
  border-radius: 30px;
  background: #2D3953;
}

.target-right {
  border-radius: 30px;
  background: #2D3953;
}

/* Estilos comunes para las estrellas */
.stars-left,
.stars-mid,
.stars-right {

  align-self: flex-start;
  /* Posiciona las estrellas a la izquierda */
}

/* Añade estilos para el figure y su contenido */
figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
  /* Espacio entre la imagen y el texto */
}

figcaption {
  text-align: center;
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.personal-info {

  display: flex;
  flex-direction: column;
  gap: .625rem;


}

/* Section preguntas */

/* Estilos para la sección de Preguntas Frecuentes */
.fourth-page {

  align-items: center;
  gap: 50px;
}


.title-faq {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--text-color);
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
  /* Reducido el espacio inferior */
}

summary {
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

details {

  display: block;
  width: 60%;

}

details p,
ul {

  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 2;
  margin-top: 30px;
}

/* footer */

/* Footer */
footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  /* Ajusta el tamaño según tus necesidades */
  height: 30px;
  /* Ajusta el tamaño según tus necesidades */
}

/* Estilos para el formulario de registro */

#signup-section {
  font-family: "Inter", sans-serif;
  /* Color de fondo suave */
  width: 100%;
  height: 100vh;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  display: flex;
  max-width: 1100px;
  /* Ancho máximo del contenedor */
  border-radius: 15px;
  overflow: hidden;
  /* Oculta el desbordamiento de los elementos hijos */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  animation: fadeIn 1s ease;
  /* Animación de aparición */
}

.signup-section .title-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 0 15px 15px 0;
  width: 800px;
  background-color: #1d2c4f;
}

.signup-section .big-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.signup-section .signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.signup-section input::placeholder {
  color: #c4c4c4;
  /* Color del marcador de posición */
}

.signup-section input {
  width: 100%;
  padding: 12px;
  /* Mayor relleno */
  border: 1px solid #ffffff;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  /* Transición suave */
  background-color: #667fea00;
  animation: slideInLeft 1s ease;
  /* Animación de deslizamiento hacia la izquierda */
  color: white;
}

.signup-section input:focus {
  border-color: #bf7233;
  /* Color del borde al enfocar */
}

.signup-section .accept-terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup-section input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.signup-section input[type="checkbox"]:checked {
  background-color: #667eea;
  /* Color de fondo al estar marcado */
}

.signup-section input[type="checkbox"]::before {
  content: "\2713";
  font-size: 16px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 20px;
}

.signup-section button {
  width: 100%;
  padding: 12px;
  background-color: #667eea;
  /* Color de fondo */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Transición suave */
  animation: slideInRight 1s ease;
  /* Animación de deslizamiento hacia la derecha */
}

.signup-section button:hover {
  background-color: #764ba2;
  /* Color de fondo al pasar el ratón */
}

.signup-section .signup-image {
  width: 500px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Estilos para el formulario de inicio de sesión */

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-section .title-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 0 15px 15px 0;
  width: 800px;
  background-color: #1d2c4f;
  animation: fadeIn 1s ease;
  /* Animación de aparición */
}

.login-section .big-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.login-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.login-section input::placeholder {
  color: #c4c4c4;
  /* Color del marcador de posición */
}

.login-section input {
  width: 100%;
  padding: 12px;
  /* Mayor relleno */
  border: 1px solid #ffffff;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  /* Transición suave */
  background-color: #667fea00;
  animation: slideInLeft 1s ease;
  /* Animación de deslizamiento hacia la izquierda */
}

.login-section input:focus {
  border-color: #bf7233;
  /* Color del borde al enfocar */
}

.login-section button {
  width: 100%;
  padding: 12px;
  background-color: #667eea;
  /* Color de fondo */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Transición suave */
  animation: slideInRight 1s ease;
  /* Animación de deslizamiento hacia la derecha */
}

.login-section button:hover {
  background-color: #764ba2;
  /* Color de fondo al pasar el ratón */
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}